<div id="error_explanation" class="bg-warning">
  <h4><%= pluralize(object.errors.count, "error") %> prohibited this user from being saved:</h4>
  <ul>
    <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
</div>